html,body{
    background: #ebebeb;
}
.contentWrap{
    margin: 20px;
    padding: 40px;
    background: #fff;
}
.details_title{
    width:100%;
    height:36px;
    line-height:36px;

}
.details_title span{
    border-left:3px solid #000;
    font-size: 12px;
    padding-left: 5px;
}
.table,.table02{
    width:100%;
    border:1px solid #dfe6ec;

}
.table tr td{
    width:25%;
    border:1px solid #dfe6ec;
    height: 40px;
    min-width: 0;
    font-size: 12px;
    color: #333;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.table tr td .cell{
    padding-left: 18px;
    padding-right: 18px;
    min-height:24px;
    line-height: 24px;
}

.table02 tr td, .table02 tr th{
    border:1px solid #dfe6ec;
    height: 40px;
    text-align: center;
    min-width: 0;
    font-size: 12px;
    color: #333;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.table02 tr th{
    background-color: #eef1f6;
}
.table03 {
    width: 33.33%;
    border: 1px solid #dfe6ec;
    float: left;
    box-sizing: border-box;
}
.table03  tr td,.table03  tr th{
    box-sizing: border-box;
    width: auto ;
    border:1px solid #dfe6ec;
    min-height: 40px;
    min-width: 0;
    font-size: 12px;
    box-sizing: inherit;
    color: #333;
    text-overflow: ellipsis;
    vertical-align: middle;

}
.table03  tr th{
    height: 40px;
}
.table03  tr td .cell{
    padding-left: 18px;
    padding-right: 18px;
    min-height:24px;
    line-height: 24px;
}
.table03  tr th .cell{
    font-size: 12px;
    font-weight: 600;
    color: #333;
}
.table03:nth-child(n+1){
    margin-left: -1px;
}

.secondTitle{
    line-height: 30px;
    font-size:12px;
    color: #666;
    padding-top:10px;
}
.tipBox{
    width:100%;
    box-sizing: border-box;
    border:1px solid #dfe6ec;
    height: 40px;
    color: #666;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}